@* Counting Template File *@
@()

<h2>Counter</h2>

<button id="button">Increment</button>

<p id="counterText">The number is currently <span id="counter2"></span> .
    Do your part in clicking, comrade!</p>


<h2>Socket Counter</h2>
<input type="hidden" id="ws-route" value="@routes.Application.socket.absoluteURL()"> 
<button id="socketButton">Increment</button>

<p>The number is currently <span id="socketCounter"></span> .
    Do your part in clicking, comrade!</p>
	
<script src="@routes.Assets.versioned("javascript/Counting.js")"></script>